.container {
	max-width: 1260px;
	margin: 0 auto 200px;
	padding: 0 15px;
	position: relative;

	@include grid2flex-bp-from("sm"){
		padding: 0 20px 0;
	}
}



[class*="col-"] {
	margin-bottom: 10px;
	background: #fff;
	background-clip: content-box !important;
	position: relative;
	@include transition(height .2s ease);
	@include transition(padding .2s ease);

	[class*="col-"] {
		//margin-top: 10px;
		//background: #b8b8b8;
		margin-bottom: 0px;
	}
}