// ---------------------------------------------------------------
// Page-header

.page-header{
	background: #038cd6;
    color: #fff;
	text-align: center;
	margin-bottom: 0;
	padding: 10px;
    
	@include grid2flex-bp-from("md"){
        padding: 20px;
        margin-bottom: 200px;
	}
    
}