// ---------------------------------------------------------------
// Page-header

.page-header{
	background: #038cd6;
    color: #fff;
	text-align: center;
	margin-bottom: 200px;
	padding: 10px;
}